.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  padding: 5rem 0;
}

.wrapper_lines {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
