.page {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 1rem 1rem;
}

.discard_pond {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Adjust the gap between grid items as needed */
}

.discard_pond > div {
  visibility: hidden;
  aspect-ratio: 1 / 1;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.ton_discards {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  /* background-color: green; */
  transform: rotate(180deg);
  animation: slideInFromTop 1s ease-out forwards;
}

.nan_discards {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  /* background-color: red; */
  transform: rotate(90deg);
  animation: slideInFromLeft 1s ease-out forwards;
}

.sha_discards {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  /* background-color: yellow; */
  animation: slideInFromBottom 1s ease-out forwards;
}

.pei_discards {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  /* background-color: blue; */
  transform: rotate(270deg);
  animation: slideInFromRight 1s ease-out forwards;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%) rotate(180deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(180deg);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%) rotate(90deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(90deg);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%) rotate(-90deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(-90deg);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
