.page {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 1rem 1rem;
}

.discard_pond {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Adjust the gap between grid items as needed */
}

.discard_pond > div {
  aspect-ratio: 1 / 1;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.ton_discards {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: green;
  transform: rotate(180deg);
  animation: slideInFromTop 1s 1s;
}

.nan_discards {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: red;
  transform: rotate(90deg);
}

.sha_discards {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: yellow;
}

.pei_discards {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: blue;
  transform: rotate(270deg);
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    transform: rotate(180deg);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    transform: rotate(180deg);
  }
}
