.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  display: flex;
  flex-direction: column;

  height: 100dvh;
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  /* padding: 0 10px; */

  background-color: #1c3f39;

  /* overflow: hidden; */
}

.header {
  flex: 0 0 5%; /* Fixed to 10% of screen height */
  background-color: #e0eae9; /* Example background color */
}

.content {
  flex: 0 0 70%;
  /* height: calc(100vh - 10% - 20%); */
  overflow-y: auto;
}

.footer {
  flex: 0 0 20%; /* Fixed to 20% of screen height */
  background-color: #e0eae9; /* Example background color */

  border-radius: 1rem 1rem 0 0;
}

.table_of_contents {
  display: flex;
  flex-direction: column;
}
