.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  flex-direction: column;

  height: 100%;
  /* padding: 0 10px; */
  font-family: var(--font-geist-sans);

  background-color: #383838;

  overflow: hidden;
}

.header {
  flex: 0 0 5%; /* Fixed to 10% of screen height */
  background-color: #4a4a4a; /* Example background color */
}

.content {
  flex: 0 0 70%;
  /* height: calc(100vh - 10% - 20%); */
  overflow-y: auto;
}

.footer {
  flex: 0 0 20%; /* Fixed to 20% of screen height */
  background-color: #2a2a2a; /* Example background color */
}

.table_of_contents {
  display: flex;
  flex-direction: column;
}
